<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Rural Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" href="#">Home</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/register" routerLinkActive="active">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/addAccount" routerLinkActive="active">Add Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/getUsers" routerLinkActive="active">ListOfUsers</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Sign Up</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
