<h2>List Of Users</h2>
<div class="userTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="85/4%" scope="col">UserId</th>
                <th width="85/4%" scope="col">UserName</th>
                <th width="85/4%" scope="col">DOB</th>
                <th width="85/4%" scope="col">MobileNumber</th>
                <th width="5%" scope="col"></th>
                <th width="5%" scope="col"></th>
                <th width="5%" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{user.user_ID}}</td>
                <td>{{user.name}}</td>
                <td>{{user.sampleDate}}</td>
                <td>{{user.mobile_number}}</td>
                <td><button type="button" class="btn btn-primary" (click)="goToEditUser(user.user_ID)">Edit</button></td>
                <td><button type="button" class="btn btn-info" (click)="goToViewAccount(user.user_ID)">View</button></td>
                <td><button type="button" class="btn btn-danger" (click)="goToDeleteUser(user.user_ID)">Delete</button></td>
                <!-- name!: string;
        email_ID!: string;
        mobile_number!: number;
        secondary_Mobile!: number;
        dOB!: Date;
        gender!: string; -->

            </tr>

        </tbody>
    </table>

</div>