

<div class="Form">
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Update Details</h2>

                                <form #addUserForm="ngForm" (ngSubmit)="editUserFormSubmit()">
                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form3Example1cg">UserId</label>
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                            placeholder="" required [(ngModel)]="user.user_ID" name="user_ID" disabled/>
                                        
                                    </div>

                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form3Example1cg">Name</label>
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                            placeholder="" required [(ngModel)]="user.name" name="Name" />
                                       
                                    </div>

                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form3Example3cg">Email_ID</label>
                                        <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                                            placeholder="" required [(ngModel)]="user.email_ID" name="Email_ID" />
                                       
                                    </div>

                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form3Example3cg">Mobile_number</label>
                                        <input type="text" id="one" class="form-control form-control-lg"
                                            placeholder="" required [(ngModel)]="user.mobile_number"
                                            name="Mobile_number" />
                                     
                                    </div>

                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form3Example3cg">DOB</label>
                                        <input type="text" id="three" class="form-control form-control-lg"
                                            placeholder="" required [(ngModel)]="user.sampleDate" name="DOB" />
                                      
                                    </div>
                        
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary" >Update</button>
                                   
                                   
                                        <button class="B1" type="submit"
                                            class="btn btn-info" routerLink="/getUsers">Back</button>
                                   
                                        </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>