<app-header></app-header>
<!-- <app-user-registration-component></app-user-registration-component> -->
<!-- <img src="assets/img.png" alt="" class="Bankimage"> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-sign-in></app-sign-in> -->
<router-outlet></router-outlet>

<app-footer></app-footer>
