<div class="form-group">
<section >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add New User</h2>

              <form #addUserForm="ngForm" (ngSubmit)="addUserFormSubmit(addUserForm)">
             
                <div class="form-outline mb-1">
                  <input  #name4="ngModel" type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Name" required [(ngModel)]="user.name" name="Name" ngModel/>
                  <label class="form-label" for="form3Example1cg"></label>
                  <div *ngIf = "name4.touched && name4.invalid" class="alert alert-danger">
                    <div *ngIf = "name4.errors?.['required']">Name required</div>
                  </div>
                </div>

                <div class="form-outline mb-1">
                  <input #name1="ngModel" type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Email"  required [(ngModel)]="user.email_ID" name="Email_ID" ngModel/>
                  <label class="form-label" for="form3Example3cg"></label>
                  <div *ngIf = "name1.touched && name1.invalid" class="alert alert-danger">
                    <div *ngIf = "name1.errors?.['required']">EmailID required</div>
                  </div>
                </div>

                <div class="form-outline mb-1">
                    <input #name="ngModel" minlength="10" maxlength="10" required type="text" id="one" class="form-control form-control-lg" placeholder="Mobile Number"  required [(ngModel)]="user.mobile_number" name="Mobile_number" ngModel/>
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">
                      <div *ngIf = "name.errors?.['required']">Mobile number required </div>
                    <div *ngIf = "name?.errors?.['minlength'] || name?.errors?.['maxlength']">Mobile number should be of 10 characters</div> 
                    
                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input type="text" id="two" class="form-control form-control-lg" placeholder="Secondary Mobile Number" required [(ngModel)]="user.secondary_Mobile" name="Secondary_Mobile" ngModel/>
                    <label class="form-label" for="form3Example3cg"></label>
                    
                  </div>

                  <div class="form-outline mb-1">
                    <input  #name2="ngModel" type="text" id="three" class="form-control form-control-lg" placeholder="DOB (DD-MMM-YYYY)" required [(ngModel)]="user.sampleDate" name="DOB" ngModel/>
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf = "name2.touched && name2.invalid" class="alert alert-danger">
                      <div *ngIf = "name2.errors?.['required']">DOB required</div>
                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input #name3="ngModel" type="text" id="four" class="form-control form-control-lg" placeholder="Gender" required [(ngModel)]="user.gender" name="Gender" ngModel/>
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf = "name3.touched && name3.invalid" class="alert alert-danger">
                      <div *ngIf = "name3.errors?.['required']">Gender required</div>
                    </div>
                  </div>
                  <!-- <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                    <h6 class="mb-0 me-4">Gender : </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option1" required[(ngModel)]="user.Gender" />
                      <label class="form-check-label" for="femaleGender" >Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option2" required[(ngModel)]="user.Gender" />
                      <label class="form-check-label" for="maleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" required[(ngModel)]="user.Gender"/>
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div> -->
  

                <!-- <div class="form-outline mb-1">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password"/>
                  <label class="form-label" for="form3Example4cg"></label>
                </div>

                <div class="form-outline mb-1">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Repeat your password"/>
                  <label class="form-label" for="form3Example4cdg"></label>
                </div> -->

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="#!"
                    class="fw-bold text-body" routerLink="/login" routerLinkActive="active"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>